# Exclude everything.
/*

# Include .gitignore.
!.gitignore

# Include setup.
!README.md

# Exclude macOS specific files.
*/.DS_STORE

# Include only specified.
!linux_tools
!gentoo_tools
!x11_tools
!vm_tools
!python_tools
!lua_tools
!perl_tools
!cpp_tools
!startup_scripts
!tools_aliases.sh
!init_scripts
!bin
!macos_tools
